@import "tailwindcss";
@plugin "daisyui";

@theme{
    --color-main: #593DAB;
    --shadow-hero-card: #593DAB30 10px 48px 100px 0px;
    --shadow-badge: #593DAB30 0px 13px 27px -5px, #593DAB30 0px 8px 16px -8px;
}

html{
  scroll-behavior: smooth;
}
.typing-effect-container p {
    letter-spacing: 0.1rem;
    overflow: hidden;
  }
  .typing-effect-container p span.typed-text {
    text-decoration: underline
  }
  .typing-effect-container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .typing-effect-container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }

  span.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #593DAB;
}
.clientSlider .swiper-wrapper {
  transition-timing-function: linear !important;
}
.portfolio-categories li.current{
  background-color: #593DAB ;
  color: white ;
}
.clientSlider .swiper-slide img {
  aspect-ratio: 3/2;
object-fit: contain;  
mix-blend-mode: color-burn;
}
hr {
  background: #E0DAEF;
}